html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: transparent;
}

@font-face {
  font-family: moldeofont;
  src: url('dsc.TTF');
}

body {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  -webkit-user-select: none;
}


::-webkit-scrollbar-thumb {
  display: none;
}



/*
.titlebar {
	position: fixed;
	top: 0px;
	left: 38%;
	width: 62%;
	height: 17px;
	background-image: url(images/fondo_title_bar.png);
	background-size: 100% 100%;
	text-align: center;
	padding: 0px;
	font-size: 10px;
	color: #FFF;
	z-index: 50000;
	font-family: moldeofont;

}
*/
    /*-webkit-app-region: drag;*/
/*

	-webkit-user-select: none;
*/
	/*background-color: black;*/


.titlebar {
  position: fixed;
  top: 0px;
  left: 3%;
  width: 91%;
  height: 22px;
  background-color: transparent;
  background-size: 100% 100%;
  /* background-image: url(images/fondo_title_bar2.png); */
  /* -webkit-user-select: none; */
  text-align: left;
  padding: 0px;
  padding-left: 40%;
  padding-top: 4px;
  font-size: 10px;
  color: #FFF;
  z-index: 50000;
  font-family: moldeofont;
  /* -webkit-app-region: drag; */
  background-position-x: -50px;
}

#container {
	margin: 0px;
	padding: 0px;
	border: 0px;
	width: 100%;
	height: 100%;

}

div {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

button.key_button,
button.space_button,
button.special_button,
button.circle_button,
#editor_button,
button.parameter_selector,
button.control_button,
#close-window-button
 {
	display: block;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border: 0px;
	-webkit-tap-highlight-color: #000;
	-webkit-user-select: none;
	outline: none;
	/*border: solid 1px #0F0;*/
	cursor: pointer;
	cursor: hand;
}

.titlebar button {
	display: inline !important;
	background-color: transparent !important;
	/*background-color: black !important;*/
	position: relative !important;
	border: 0px;
	cursor: pointer;
	cursor: hand;
	-webkit-app-region: no-drag;
}

.titlebar {
	/*-webkit-app-region: drag;*/
}

.titlebar .x_drag {
	-webkit-app-region: drag !important;
    cursor: move;
}
.titlebar button {
	padding: 1px 3px;
}
.titlebar .x_debug {
	padding: 0px !important;
}


.skin {
  display: block;
  position: fixed;
  z-index: 0 !important;
  width: 100%;
  height: 100%;
}

.skin > div {
  display: block;
  position: fixed;
  width: 40px;
  height: 40px;
  background-position: 0px 0px;
  background-size: 40px 40px;
}

.skin_left_top {
  left: 0px;
  top: 0px;
  z-index: 2;
  background-image: url('art/moldeocontrol_back_left_top.png');
}

.skin_middle_top {
  left: 40px;
  top: 0px;
  /* width: 93% !important; */
  z-index: 1;
  background-image: url('art/moldeocontrol_back_middle_top.png');
  background-repeat: repeat-x;
}

.skin_right_top {
  right: 0px;
  top: 0px;
  width: 160px !important;
  z-index: 2;
  background-size: 160px 40px !important;
  background-image: url('art/moldeocontrol_back_right_top.png');
}

.skin_left_middle {
  left: 0px;
  top: 40px;
  /* height: 67% !important; */
  z-index: 1;
  background-image: url('art/moldeocontrol_back_left_middle.png');
  background-repeat: repeat-y;
}

.skin_middle_middle {
  left: 40px;
  top: 40px;
  /* width: 93% !important; */
  /* height: 67% !important; */
  z-index: 0;
  background-image: url('art/moldeocontrol_back_middle_middle.png');
  background-repeat: repeat;
}

.skin_right_middle {
  right: 0px;
  top: 40px;
  /* height: 67% !important; */
  z-index: 1;
  background-image: url('art/moldeocontrol_back_right_middle.png');
  background-repeat: repeat-y;
}

.skin_left_bottom {
  left: 0px;
  bottom: 0px;
  z-index: 2;
  background-image: url('art/moldeocontrol_back_left_bottom.png');
}

.skin_middle_bottom {
  left: 40px;
  bottom: 0px;
  /* width: 93% !important; */
  z-index: 0;
  background-image: url('art/moldeocontrol_back_middle_bottom.png');
  background-repeat: repeat-x;

}

.skin_right_bottom {
  right: 0px;
  bottom: 0px;
  z-index: 2;
  background-image: url('art/moldeocontrol_back_right_bottom.png');
}




button.object_enabled {
	/*
	border-top: solid 2px #2F2;
	border-left: solid 2px #2F2;
	border-radius: 8px;
	*/
}

/*
button.fxselected  {
	border-radius: 8px;
	box-shadow: 4px 4px 0px 0px #F44;
	z-index: 20000;
}

button.fxselected:after {
	display: block;
	position: absolute;
	opacity: 0.0;
	transition: all 1s;
	top: 0px;
	right: 0px;
	content: "x";
	color: #FFF;
	width: 25%;
	height: 25%;
	border-radius: 4px;
	box-shadow: 4px 4px 4px 4px #F44;
	background-color: #F44;
}

button.fxselected:hover:after {
	right: -20px;
	opacity: 1.0;
	transition: all 1s;
}
*/
.keyED_button {
	width: 10%;/*44px*/
	height: 33%;/*34px*/
}

.present {
  color: #0FF !important;
}

.key_button,
.key_button.object_disabled {
	width: 34%;/*44px*/
	height: 34%;/*34px*/
	background-image: url(buttons/button_FX_off.svg);
}

.key_button,
.circle_button {
  font-family: moldeofont;
	color: #BBB;
	font-size: 18px;
	text-align: right;
	padding-right: 2px !important;
	padding-top: 10px !important;
}

.key_button.object_enabled {
  background-image: url(buttons/button_FX_on.svg);
  color: #0FF;
}

.key_button.object_enabled.fxselected {
  background-image: url(buttons/button_FX_selec_on.svg);
}

.key_button.fxselected {
  background-image: url(buttons/button_FX_selec.svg);
}

.third_effects .key_button,
.third_editor_effects .key_button {
	font-size: 15px;
	padding-top: 0px !important;
}

.circle_button {
	width: 30%;/*18px*/
	height: 42%;/*32px*/
	background-image: url( buttons/circle_button.svg );
	text-align: center !important;
	padding-top:  0px !important;
}

.object_preconfigs>.circle_button {
  font-size: 15px !important;
}

.circle_button.circle_selected {
	background-image: url( buttons/circle_button_on.svg );
}

.present {
	color: #CCF;
}

.special_button {
	width: 29%;/*29px*/
	height: 18%;/*18px*/
}

.space_button {
	width: 100%;/*118px*/
	height: 32%;/*32px*/
	background-size: 100% 100%;
}


/*PANEL EFFECTS */

.objects_selector_panel {
	display: block;
	position: absolute;
	/*border: solid 1px #F00;*/
}

.channel_controls {
	display: block !important;
	position: absolute;
	/*border: solid 1px #0FF;*/
}


#browser_panel {
	display: block;
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*background-image: url('art/moldeocontrol_back.png');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #333;
	overflow-y: scroll;
    overflow-x: hidden;

}

.no-browser #browser_panel {
	display: none !important;
}


.browser #container {
	display: block;
	position: relative;

}

	.browser_project_category {
		display: block;
		position: relative;
		float: left;
		padding-top: 30px;
		margin-top: 4px;
		width: 100%;
		height: auto;
		border: solid 0px #FFF;
	}



		.browser_project_category>label {
			display: block;
			position: absolute;
			top: 10px;
			left: 0px;
			height: 24px;
			width: 100%;
			padding-left: 36px;
			font-size: 18px;
			letter-spacing: 2px;
			color: #00f6ff;

			font-family: moldeofont;
			background-color: transparent;
			border-bottom: solid 2px #00f6ff;
			cursor: pointer;
			cursor: hand;

			background-image: url('buttons/collapse.svg');
			background-repeat: no-repeat;
			background-position: 9px 3px;
			background-size: 16px 16px;
			transition: opacity 1s;

		}
		.browser_project_category.closed {
			width: 100% !important;
			position: relative;
		}
		.browser_project_category.closed>label:hover,
		.browser_project_category.closed>label:active {
			opacity: 1.0;
		}

		.browser_project_category.closed>label {
			background-image: url('buttons/expand.svg');
			opacity: 0.7;
		}

	.browser_project {
		display: block;
		position: relative;
		float: left;
		width: 200px;
		height: 100px;
		margin-top: 8px;
		margin-left: 4px;
		border: solid 0px #0A0;
		cursor: pointer;
		cursor: hand;
		background-image: url('moldeologo_preview.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}
		.browser_project>label {
			display: block;
			position: absolute;
			width: 92%;
			height: 13px;
			bottom: 12px;
			left: 0px;
			padding-left: 8%;

			font-size: 14px;
			letter-spacing: 2px;
			color: #FFF;
			font-family: moldeofont;
			font-weight: normal !important;
			background-color: rgba(0,0,0,0.4);
			border: solid 0px #A00;
			cursor: pointer;
			cursor: hand;
			opacity: 0.7;

			transition: opacity 1s;
		}
		.browser_project>label:hover {
			opacity: 1.0;
		}

		.browser_project_preview {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-image: url('buttons/button_PROYECT_off.svg') !important;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			border: solid 0px #0FF;
			cursor: pointer;
			cursor: hand;
		}

		.browser_project_preview.active,
		.browser_project_preview:hover {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			background-image: url('buttons/button_PROYECT_active.svg') !important;
			background-repeat: no-repeat;
			background-size: 100% 100%;

		}

	.browser_project_category_container {
			display: block;
			position: relative;
			float: left;
			clear: both;
			top: 0px;
			left: 0px;
			width: 100%;
			height: auto;
			transition: all 1s;
	}
	.browser_project_category.closed  .browser_project_category_container {
		transition: all 1s;
		height: 0px !important;
		overflow: hidden;
	}

/*CHANNEL CONTROLS*/

#control_panel {
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*background-image: url('art/moldeocontrol_back2.png');*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.no-browser #control_panel {
	height: 100% !important;
}

.left_side {
	left: 3%;
	height: 60%;
	width: 31.25%;
	bottom:  0px;
}

.center_side {
	left: 50%;
	margin-left: -15%;
	height: 60%;
	width: 30%;
	bottom:  10%;
}

.right_side {
	left: 66%;
	height: 60%;
	width: 31.25%;
	bottom:  0px;
}

.button_X {
	background-image: url( buttons/button_X.svg );
	left: 3%;
	top: 12%;
	width: 4%;
	height: 8%;
}

.button_X #label_fx_selected {
	display: block;
	position: absolute;
	left: 100%;
	top: -25%;
	background-color: #000;
	color: #FFF;
	font-family: moldeofont;
	font-weight: normal !important;
}

/*

PRECONFIG SELECTOR  PANEL

1,2,3


*/

.preconfigs_selector_panel {
  width: 19%;
  height: 25%;
  left: 23%;
  top: 18%;
}

.preconfigs_selector_panel button {
	height: 100%;
	width: 20%;
}

.button_ObjectSelected {

}


.button_indicat {
	background-image: url( buttons/indicat_VOID.svg );
	left: 0%;
	bottom: 0%;
}

.button_1 {
	/*background-image: url( buttons/button_1_off.svg );*/
	left: 21%;
	bottom: 0%;
}

.button_2 {
	/*background-image: url( buttons/button_2_off.svg );*/
	left: 42%;
	bottom: 0%;
}

.button_3 {
	/*background-image: url( buttons/button_3_off.svg );*/
	left: 63%;
	bottom: 0%;
}

.button_ALL {
	background-image: url( buttons/button_ALL_off.svg );
	left: 84%;
	bottom: 0%;
}

#object_preconfigs_all,
#presets_all,
#preconfigs_all {
  display: none;
  position: fixed;
  z-index: 30000;
  width: 100% !important;
  height: 40%;
  bottom: 0px !important;
  left: 0% !important;
  margin: 0 !important;
  padding: 0 !important;
  top: 38%;
  background-color: rgba(0,0,0,0.55);
}

#object_preconfigs_all>button,
#presets_all>button,
#preconfigs_all>button {
  width: 32px !important;
  height: 32px !important;
  padding: 0px !important;
  margin: 0px !important;
  float: left;
  clear: none;
  /*background-color: #F00;*/
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  position: relative;
  background-image: url( buttons/indicat_VOID.svg);
}

#object_preconfigs_all>button.circle_selected,
#presets_all>button.circle_selected,
#preconfigs_all>button.circle_selected {
  background-image: url( buttons/indicat_VOID_on.svg);
  color: #00FFCC;
}

/*
.button_1.circle_selected,
.button_1:active {
	background-image: url( buttons/button_1_on.svg );
}


.button_2.circle_selected,
.button_2:active {
	background-image: url( buttons/button_2_on.svg );
}

.button_3.circle_selected,
.button_3:active {
	background-image: url( buttons/button_3_on.svg );
}


.button_ALL.circle_selected,
.button_ALL:active {
	background-image: url( buttons/button_ALL_on.svg );
}
*/

/*W,A,S,D*/

.first_effects {
	top: 34%;
	left: 8%;
	width: 16%;
	height: 60%;
	z-index: 4;
}

.first_effects button,
.second_effects button,
.cursor_panel button {
	width: 33%;
	height: 50%;
}



.button_W {
	/*background-image: url( buttons/button_W_off.svg );*/
	left: 31%;
	top: 0%;
}
/*
#button_W:active,
#button_W.object_enabled { background-image: url( buttons/button_W_on.svg ); }
#button_W.object_enabled.fxselected { background-image: url(buttons/button_W_selec_on.svg ); }
.button_W.fxselected { background-image: url( buttons/button_W_selec.svg ); }
.button_W.fxediting { background-image: url( buttons/button_W_selec_on.svg ); }
*/
.button_A {
	/*background-image: url( buttons/button_A_off.svg );*/
	left: 0%;
	top: 40%;
}
/*
#button_A:active,
#button_A.object_enabled { background-image: url( buttons/button_A_on.svg ); }
#button_A.object_enabled.fxselected { background-image: url( buttons/button_A_selec_on.svg ); }
.button_A.fxselected { background-image: url( buttons/button_A_selec.svg ); }
.button_A.fxediting { background-image: url( buttons/button_A_selec_on.svg ); }
*/
.button_S {
	/*background-image: url( buttons/button_S_off.svg );*/
	left: 35%;
	top: 40%;
}
/*
#button_S:active,
#button_S.object_enabled { background-image: url( buttons/button_S_on.svg ); }
#button_S.object_enabled.fxselected { background-image: url( buttons/button_S_selec_on.svg ); }
.button_S.fxselected { background-image: url( buttons/button_S_selec.svg ); }
.button_S.fxediting { background-image: url( buttons/button_S_selec_on.svg ); }
*/
.button_D {
	/*background-image: url( buttons/button_D_off.svg );*/
	left: 71%;
	top: 40%;
}
/*
#button_D:active,
#button_D.object_enabled { background-image: url( buttons/button_D_on.svg ); }
#button_D.object_enabled.fxselected { background-image: url( buttons/button_D_selec_on.svg ); }
.button_D.fxselected { background-image: url( buttons/button_D_selec.svg ); }
.button_D.fxediting { background-image: url( buttons/button_D_selec_on.svg ); }
*/






/*CENTER SIDE*/

/*TAB,ENTER,SPACE*/
.sequence_controls {
	width: 40%;
	left: 30%;
	height: 23%;
	top: 50%;
	z-index: 0;
}

.play_panel {
	width: 20%;
	left: 59%;
	height: 23%;
	top: 46%;
	z-index: 0;
}
.play_panel button {
	position: relative !important;
	width: 25%;
	height: 100%;
	top: 0%;
	float: left;
	left: auto !important;
}

.button_REFRESH {
	background-image: url( buttons/button_Circular_off.svg );
}

.play_panel button:before {
	display: block;
	content: "text";
	position: absolute;
	left: 0px;
	right: 0px;
	border: solid 0px #F00;
	color: #FFF;
	font-size: 8px;
	bottom: -10px;
	letter-spacing: 2px;
	font-family: arial;
}

.button_TAB {
	background-image: url( buttons/button_TAB_off.svg );
}

.button_TAB:before {
	content: "stop" !important;
}

.button_ENTER {
	background-image: url( buttons/button_ENTER_off.svg );
}

.button_ENTER:before {
	content: "play" !important;
}

.button_RECORD {
	background-image: url( buttons/button_RECORD_off.svg );
}

.button_RECORD:before {
	content: "rec" !important;
}

.button_RECORD_on:before {
	content: "recording" !important;
}

.button_RECORD_on,
.button_RECORD:active {
	background-image: url( buttons/button_RECORD_on.svg );
}

.button_RENDER {
	background-image: url( buttons/button_RENDER_off.svg );
}
.button_RENDER:active {
	background-image: url( buttons/button_RENDER_on.svg );
}

.button_PAUSE {
	background-image: url( buttons/button_ENTER_pause_off.svg );
}
.button_PAUSE:before {
	content: "playing" !important;
}

.beat_panel {
	left: 60%;
	bottom: 10%;
	width: 14%;
	height: 10%;
}

.button_SPACE  {
	background-image: url( buttons/button_SPACE_off.svg );
	width: 100%;
	height: 100%;

}

.button_TAB:active {
	background-image: url( buttons/button_TAB_on.svg );
}

.button_ENTER:active {
	background-image: url( buttons/button_ENTER_on.svg );
}

.button_SPACE:active {
	background-image: url( buttons/button_SPACE_on.svg );
}

.button_PAUSE:active {
	background-image: url( buttons/button_ENTER_pause_on.svg );
	right: 2%;
}

.button_RENDERVIDEO {
	color: #FFF;
	width: auto !important;
	height: auto !important;
	position: relative !important;
	float: right !important;
	padding: 5px;
}

.button_RENDERVIDEO:before {
	content: "" !important;
}

#render_video_info_label {
	display: block;
	position: relative;
	width: 100%;
	height: 20px;
	font-size: 14px;
	font-family: moldeofont;
	font-weight: normal !important;
	color: #FFF;

}

#render_video_name {
	display: block;
	width: 100%;
}
#render_video_info {
	display: none;
	position: absolute;
	z-index: 40000;
	width: 50%;
	height: 50px;
	border: solid 1px #F00;
	top: 1%;
	background-color: rgba(150,0,0,1);
	border-radius: 5px;
	padding: 3px;
	left: 40%;

}

#render_video_info_container,
#render_video_info_codec,
#render_video_info_name {

	display: block;
	position: relative;
	float: left;
}

/*V,B,N,M*/
.second_effects {
/*
	left: 37.5% !important;
	width: 25% !important;
	height: 28%;
	top: 40% !important;
	*/


	top: 34%;
	width: 16%;
	height: 60%;
	left: 42%;
	z-index: 1;
}

.second_effects button {
	/*height: 100%;*/
}

.third_effects {
	top: 52%;
	width: 16%;
	height: 60%;
	left: 25.6%;
	z-index: 1;
}


.third_effects button {
	display: block;
	position: relative;
	float: left;
	clear: none;
	width: 22%;
	height: 25%;
	/*background-color: red;*/
	margin: 1%;
}

/*
.button_T { background-image: url( buttons/button_T_off.svg );}
#button_T:active, #button_T.object_enabled { background-image: url( buttons/button_T_on.svg ); }
#button_T.object_enabled.fxselected { background-image: url( buttons/button_T_selec_on.svg ); }
.button_T.fxselected { background-image: url( buttons/button_T_selec.svg ); }
.button_T.fxediting { background-image: url( buttons/button_T_selec_on.svg ); }

.button_F { background-image: url( buttons/button_F_off.svg );}
#button_F:active, #button_F.object_enabled { background-image: url( buttons/button_F_on.svg ); }
#button_F.object_enabled.fxselected { background-image: url( buttons/button_F_selec_on.svg ); }
.button_F.fxselected { background-image: url( buttons/button_F_selec.svg ); }
.button_F.fxediting { background-image: url( buttons/button_F_selec_on.svg ); }

.button_G { background-image: url( buttons/button_G_off.svg );}
#button_G:active, #button_G.object_enabled { background-image: url( buttons/button_G_on.svg ); }
#button_G.object_enabled.fxselected { background-image: url( buttons/button_G_selec_on.svg ); }
.button_G.fxselected { background-image: url( buttons/button_G_selec.svg ); }
.button_G.fxediting { background-image: url( buttons/button_G_selec_on.svg ); }

.button_H { background-image: url( buttons/button_H_off.svg );}
#button_H:active, #button_H.object_enabled { background-image: url( buttons/button_H_on.svg ); }
#button_H.object_enabled.fxselected { background-image: url( buttons/button_H_selec_on.svg ); }
.button_H.fxselected { background-image: url( buttons/button_H_selec.svg ); }
.button_H.fxediting { background-image: url( buttons/button_H_selec_on.svg ); }

.button_C { background-image: url( buttons/button_C_off.svg );}
#button_C:active, #button_C.object_enabled { background-image: url( buttons/button_C_on.svg ); }
#button_C.object_enabled.fxselected { background-image: url( buttons/button_C_selec_on.svg ); }
.button_C.fxselected { background-image: url( buttons/button_C_selec.svg ); }
.button_C.fxediting { background-image: url( buttons/button_C_selec_on.svg ); }

.button_V { background-image: url( buttons/button_V_off.svg );}
#button_V:active, #button_V.object_enabled { background-image: url( buttons/button_V_on.svg ); }
#button_V.object_enabled.fxselected { background-image: url( buttons/button_V_selec_on.svg ); }
.button_V.fxselected { background-image: url( buttons/button_V_selec.svg ); }
.button_V.fxediting { background-image: url( buttons/button_V_selec_on.svg ); }

.button_B { background-image: url( buttons/button_B_off.svg );}
#button_B:active, #button_B.object_enabled { background-image: url( buttons/button_B_on.svg ); }
#button_B.object_enabled.fxselected { background-image: url( buttons/button_B_selec_on.svg ); }
.button_B.fxselected { background-image: url( buttons/button_B_selec.svg ); }
.button_B.fxediting { background-image: url( buttons/button_B_selec_on.svg ); }


.button_N { background-image: url( buttons/button_N_off.svg );}
#button_N:active, #button_N.object_enabled { background-image: url( buttons/button_N_on.svg ); }
#button_N.object_enabled.fxselected { background-image: url( buttons/button_N_selec_on.svg ); }
.button_N.fxselected { background-image: url( buttons/button_N_selec.svg ); }
.button_N.fxediting { background-image: url( buttons/button_N_selec_on.svg ); }
*/

/*
.button_V {
	background-image: url( buttons/button_V_off.svg );
	left: 0%;
	bottom: 0%;
	width: 25%;
}
#button_V:active,
#button_V.object_enabled { background-image: url( buttons/button_V_on.svg ); }
#button_V.object_enabled.fxselected { background-image: url(buttons/button_V_selec_on.svg ); }
#button_V.fxselected { background-image: url( buttons/button_V_selec.svg ); }

.button_B {
	background-image: url( buttons/button_B_off.svg );
	left: 25%;
	bottom: 0%;
	width: 25%;
}
#button_B:active,
#button_B.object_enabled { background-image: url( buttons/button_B_on.svg ); }
#button_B.object_enabled.fxselected { background-image: url( buttons/button_B_selec_on.svg ); }
#button_B.fxselected { background-image: url( buttons/button_B_selec.svg ); }

.button_N {
	background-image: url( buttons/button_N_off.svg );
	left: 50%;
	bottom: 0%;
	width: 25%;
}
#button_N:active,
#button_N.object_enabled { background-image: url( buttons/button_N_on.svg ); }
#button_N.object_enabled.fxselected { background-image: url( buttons/button_N_selec_on.svg ); }
#button_N.fxselected { background-image: url( buttons/button_N_selec.svg ); }

.button_M {
	background-image: url( buttons/button_M_off.svg );
	left: 75%;
	bottom: 0%;
	width: 25%;
}
#button_M:active,
#button_M.object_enabled { background-image: url( buttons/button_M_on.svg ); }
#button_M.object_enabled.fxselected { background-image: url( buttons/button_M_selec_on.svg ); }
#button_M.fxselected { background-image: url( buttons/button_M_selec.svg ); }
*/

.button_I {
	/*background-image: url( buttons/button_I_off.svg );*/
	left: 33%;
	top: 0%;
}
/*
#button_I:active,
#button_I.object_enabled { background-image: url( buttons/button_I_on.svg ); }
#button_I.object_enabled.fxselected { background-image: url(buttons/button_I_selec_on.svg ); }
.button_I.fxselected { background-image: url( buttons/button_I_selec.svg ); }
.button_I.fxediting { background-image: url( buttons/button_I_selec_on.svg ); }
*/
.button_J {
	/*background-image: url( buttons/button_J_off.svg );*/
	left: 0%;
	top: 40%;
}
/*
#button_J:active,
#button_J.object_enabled { background-image: url( buttons/button_J_on.svg ); }
#button_J.object_enabled.fxselected { background-image: url( buttons/button_J_selec_on.svg ); }
.button_J.fxselected { background-image: url( buttons/button_J_selec.svg ); }
.button_J.fxediting { background-image: url( buttons/button_J_selec_on.svg ); }
*/

.button_K {
	/*background-image: url( buttons/button_K_off.svg );*/
	left: 35%;
	top: 40%;
}
/*
#button_K:active,
#button_K.object_enabled { background-image: url( buttons/button_K_on.svg ); }
#button_K.object_enabled.fxselected { background-image: url( buttons/button_K_selec_on.svg ); }
.button_K.fxselected { background-image: url( buttons/button_K_selec.svg ); }
.button_K.fxediting { background-image: url( buttons/button_K_selec_on.svg ); }
*/
.button_L {
	/*background-image: url( buttons/button_L_off.svg );*/
	left: 71%;
	top: 40%;
}
/*
#button_L:active,
#button_L.object_enabled { background-image: url( buttons/button_L_on.svg ); }
#button_L.object_enabled.fxselected { background-image: url( buttons/button_L_selec_on.svg ); }
.button_L.fxselected { background-image: url( buttons/button_L_selec.svg ); }
.button_L.fxediting { background-image: url( buttons/button_L_selec_on.svg ); }
*/
/*F1,F2,F3*/

.channel_selectors {
	width: 19%;
	height: 25%;
	left: 56%;
	top: 18%;
}
.channel_selectors button {
	width: 20%;
	height: 100%;
}



.button_F1 {
	/*background-image: url( buttons/button_F1_off.svg );*/
	left: 0%;
	top: 0%;
}

.button_F2 {
	/*background-image: url( buttons/button_F2_off.svg );*/
	left: 22%;
	top: 0%;
}

.button_F3 {
	/*background-image: url( buttons/button_F3_off.svg );*/
	left: 44%;
	top: 0%;
}

.button_FALL {
	background-image: url( buttons/button_FALL_off.svg );
	left: 66%;
	top: 0%;
}
/*
.button_F1:active {
	background-image: url( buttons/button_F1_on.svg );
}

.button_F2:active {
	background-image: url( buttons/button_F2_on.svg );
}

.button_F3:active {
	background-image: url( buttons/button_F3_on.svg );
}

.button_FALL:active {
	background-image: url( buttons/button_FALL_on.svg );
}
*/
/*UP,LEFT,DOWN,RIGHT*/

.cursor_panel {
	right: 9%;
	top: 20%;
	width: 16%;
	height: 60%;
}


.button_UP {
	background-image: url( buttons/button_UP_off.svg );
	left: 33%;
	top: 0%;
}

.button_LEFT {
	background-image: url( buttons/button_LEFT_off.svg );
	left: 0%;
	top: 25%;
}

.button_DOWN {
	background-image: url( buttons/button_DOWN_off.svg );
	left: 33%;
	bottom: 0%;
}

.button_RIGHT {
	background-image: url( buttons/button_RIGHT_off.svg );
	right: 0%;
	top: 25%;
}


.button_UP:active {
	background-image: url( buttons/button_UP_on.svg );
}

.button_LEFT:active {
	background-image: url( buttons/button_LEFT_on.svg );
}

.button_DOWN:active {
	background-image: url( buttons/button_DOWN_on.svg );
}

.button_RIGHT:active {
	background-image: url( buttons/button_RIGHT_on.svg );
}






/*

	OBJECT SELECTORS

 */

.object_selectors {
	width: 5%;
	height: 40%;
	left: 1.5%;
	top: 30%;
}

.object_selectors button {
	width: 100%;
	height: 50%;
	position: relative;
	float: left;
	clear: both;
}

.button_SHIFT {
	background-image: url( buttons/button_SHIFT_off.svg );

}

#button_SHIFT.shiftEnabled {
	background-image: url( buttons/button_SHIFT_on.svg );
}

.button_CTRL {
	background-image: url( buttons/button_CTRL_off.svg );

}
#button_CTRL.ctrlEnabled {
	background-image: url( buttons/button_CTRL_on.svg );
}

.button_SHIFT:active {
	background-image: url( buttons/button_SHIFT_on.svg );

}

.button_CTRL:active {
	background-image: url( buttons/button_CTRL_on.svg );

}


.button_ALT {
	background-image: url( buttons/button_ALT_off.svg );

}
#button_ALT.altEnabled {
	background-image: url( buttons/button_ALT_on.svg );
}
.button_ALT:active {
	background-image: url( buttons/button_ALT_on.svg );

}

/*

 CHANNEL SELECTORS

*/

.channel_navigator {
	width: 5%;
	height: 40%;
	right: 1.5%;
	top: 29%;
}

.channel_navigator button {
	width: 100%;
	height: 50%;
	position: relative;
	float: left;
	clear: both;
}

.button_PGUP {
	background-image: url( buttons/button_PGUP_off.svg );

}

.button_PGDOWN {
	background-image: url( buttons/button_PGDOWN_off.svg );

}

.button_PGUP:active {
	background-image: url( buttons/button_PGUP_on.svg );

}

.button_PGDOWN:active {
	background-image: url( buttons/button_PGDOWN_on.svg );

}

/**
 CURSOR SLIDE CONTROLS
*/

.slide_controls {
	display: block;
	position: absolute;

}

.slide_H,
.parameter_slide {
	width: 100%;
	height: 100%;
}

#slide_channel_alpha {
	bottom: 8%;
	right: 8%;
	width: 16%;

	/*border: solid 1px #F00;*/
}

#slide_channel_tempo {
	bottom: 45%;
	right: 1.4%;
	width: 12%;
	/*border: solid 1px #0F0;*/
}

#slide_channel_tempo input {
	width: 100%;
}

input[type=range].slide_H,
input[type=range].parameter_slide,
input[type=range].slide_V {
	-webkit-appearance: none;
	/*border: solid 1px #0F0;*/
	background-color: transparent;
	background-image: url( buttons/slide_back_fill.svg);
	background-size: 100% 18px;
	background-repeat: no-repeat;
	/*background-position: -100% 0%;*/
	height: 18px;
	transform: translateZ(0);
}

.slide_V_back {
	-webkit-transform: rotate(-90deg);
}

.parameter_slide_back,
.slide_H_back,
.slide_V_back {
	display: block;
	position: absolute;
	background-image: url( buttons/slide_back.svg);
	background-size: 100% 18px;
	background-position: 0px 2px;
	height: 18px;
}

.parameter_slide_back>label {
	display: block;
	position: absolute;
	top: -14px;
	left: 0px;
	width: 60px;
	height: auto;
	overflow: hidden;
	font-size: 10px;
	font-family: moldeofont;
	font-weight: normal !important;
	color: #FFF;
}



input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	width: 10px;
	height: 18px;
	background-image: url(buttons/slider_thumb_off.svg);
	background-size: 100% 100%;
	background-position: 0px 0px;
	background-repeat: no-repeat;
}

input[type=range]::-webkit-slider-thumb:active {
	background-image: url(buttons/slider_thumb_on.svg);
}


/**





			EDITOR




*/

#editor_button_connection_indicator {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 30px;
	height: 30px;
	background-image: url( images/fondo_connection_indicator_black.png);
	z-index: 500000;
}

#editor_button_connection_indicator  .con_indicator {

	width: 100%;
	height: 100%;
	background-image: url( images/fondo_connection_indicator.png);
	background-size: 100% 100%;
}

#control_project_led.yellow {
	display: block;
	float: left;
	clear: none;
	position: relative;
	background-image: url(images/control_project_led_green.png);
}

#control_project_led.green {
	display: block;
	float: left;
	clear: none;
	position: relative;
	background-image: url(images/control_project_led_green.png);
}

#control_project_led.red {
	display: block;
	float: left;
	clear: none;
	position: relative;
	background-image: url(images/control_project_led_green.png);
}


#editor_button {
	transition: all 1s;
	top: -21px;
	right: 0px;
	left: auto;
	width: 7%;
	height: 21px;

	/* background-image: url( buttons/button_EDITOR_on.svg ); */
	/* background-image: url( images/fondo_editor_button.png ); */
	z-index: 120;
	cursor: pointer;
	cursor: hand;
	z-index: 100000;
	position: absolute;
}

#editor_button_go_back {
	transition: all 1s;
	top: -15px;
	right: 1.2%;
	left: auto;
	width: 43px;
	height: 40px;

	/*background-image: url( buttons/button_EDITOR_on.svg );*/
	background-image: url( images/fondo_editor_button_go_back_cut.png );
	z-index: 120;
	cursor: pointer;
	cursor: hand;
	z-index: 100000;
	position: absolute;

	transition: all 1s;
	transform: rotate(90deg);

}

.editor_opened #editor_button_go_back {
	transition: all 1s;
	transform: rotate(0deg);
}

#editor_button.editor_button_close {
	top: -21px !important;
	/*background-image: url( buttons/button_EDITOR_off.svg ) !important;*/
	/* background-image: url( images/fondo_editor_button.png ) !important; */

}

#buttonED_OpenProject {
  display: block;
  position: absolute;
  left: 2.1%;
  top: 10%;
  width: 18px;
  height: 20px;
}

.browser_panel .header {
	display: block;
	position: relative;
	float: left;
	margin-top: 25px;
}
.browser_panel .header #buttonED_OpenProject {
	display: block;
	position: relative;
	float: left;
	top: 0px;
	left: 0px;
}

.header label, .header button {
	display: block;
	float: left;
	font-size: 12px;
	/*color: #FFF;*/
}

.dropdown-toggle {
  color: #FFF;
}

.header label {
	margin: 5px;
}


.button_OpenProject {
	background-image: url(buttons/button_OpenProject.svg);
}

.button_OpenProject:active,
.button_OpenProject_on {
	background-image: url(buttons/button_OpenProject_on.svg);
}

#control_project_led {
  width: 22px;
  height: 22px;
  display: block;
  position: fixed;
  left: 15px;
  top:  0px;
  z-index: 50000;
  opacity: 0.5;
}

#control_project_header > div.buttons {
  display: block;
  position: relative;
  left: 200px;
  top: 0px;
  width: 120px;
  margin:  0px;
}

/*
div.buttons .buttons {

}
*/
.glyphicon-export,
.glyphicon-save {
  color: #777;
}

#buttonED_SaveProject {
  display: block;
  position: absolute;
  left: 28px;
  top: 2px;
  width: 18px;
  height: 22px;
}
.button_SaveProject {
	/*background-image: url(buttons/button_Save.svg);*/
}

#buttonED_SaveProject.saveneeded {
	/*background-image: url(buttons/button_Save_on.svg);*/
	color: #FFFCCC !important;
}

.button_SaveProject:active,
.button_SaveProject_on {
	background-image: url(buttons/button_Save.svg);
}

#buttonED_SaveProjectAs {
  display: block;
  position: absolute;
  left: 50px;
  top: 2px;
  width: 18px;
  height: 20px;
}
.button_SaveProjectAs:active,
.button_SaveProjectAs {
	/*background-image: url(buttons/button_SaveAs.svg);*/
}

#buttonED_SaveProjectAs.saveneeded {
	/*background-image: url(buttons/button_SaveAs_on.svg);*/
	color: #FFFCCC !important;
}

.button_SaveProjectAs_on {
	background-image: url(buttons/button_SaveAs.svg);
}




#buttonED_Presentation {
  display: block;
  position: absolute;
  left: 70px;
  top: 2px;
  width: 18px;
  height: 20px;
}
.button_Presentation {
	background-image: url(buttons/button_Presentation.svg);
}

.button_Presentation:active,
.button_Presentation_on {
	background-image: url(buttons/button_Presentation_on.svg);
}

#buttonED_Screenshot {
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 20px;
}
.button_Screenshot {
	background-image: url(buttons/button_Screenshot.svg);
}

.button_Screenshot:active,
.button_Screenshot_on {
	background-image: url(buttons/button_Screenshot_on.svg);
}

#buttonED_PreviewShot {
  display: block;
  position: relative;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 20px;
}
.button_PreviewShot {
	background-image: url(buttons/button_PreviewShot.svg);
}

.button_PreviewShot:active,
.button_PreviewShot_on {
	background-image: url(buttons/button_PreviewShot_on.svg);
}

#dropdown_moreactions {
  display: block;
  position: absolute;
  min-width: 30px !important;
  left: 90px !important;
  background-color: red;
}

#buttonED_moreactions {
  min-width: 30px !important;
  background-color: black;
}

#control_project_header {
  display: block;
  position: fixed;
  left: 35px;
  top: 1px;
  width: 313px;
  height: 21px;
  background-image: url();
  background-color: #000;
  z-index: 70000;
}

#control_project_header>label {
  display: block;
  position: absolute;
  font-size: 14px;
  letter-spacing: 1px;
  width: 190px;
  overflow: hidden;
  font-family: moldeofont;
  font-weight: normal;
  color: #10FF00 !important;
  left: 28px;
  top: 0px;
  background-color: rgb(73, 68, 77);
}


.window_panel {
	display: block;
	position: absolute;
/*	border: solid 2px #F0F;*/
}

#editor_panel {
	transition: all 1s;
	width: 100%;
	background-color: rgba(50,50,50,0.95);
	z-index: 101;
	border-radius: 8px;
}

.no-browser #editor_panel {
	height: 100% !important;
	bottom: -100%;
}


.editor_inactive {
	/*display: none !important;*/

}

#editor_panel.editor_opened {
	bottom: 0% !important;
}

.no-browser #editor_panel.editor_opened {
	height: 100% !important;
	bottom: -8%;
}


.first_editor_effects {
	top: 33%;
	left: 4%;
	width: 13%;
	height: 53%;
	z-index: 4;
	position: absolute;
	display: block;
}

.second_editor_effects {
	top: 33%;
	left: 21%;
	width: 13%;
	height: 53%;
	z-index: 4;
	position: absolute;
	display: block;
}


.third_editor_effects {
	bottom: 5%;
	left: 3%;
	width: 33%;
	height: 65%;
	z-index: 4;
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,0.58);
}

.first_editor_effects button,
.second_editor_effects button {
	width: 32%;
	height: 49%;
}

#toggle_third_editor_effects {
	left: 1%;
	bottom: 5%;
	width: 2%;
	height: 16%;
	position: absolute;
	display: block;
	background-color: grey;
	font-size: 10px;
	background-image: none !important;
	padding: 0 !important;
}

#toggle_third_editor_effects .glyphicon-minus {
	display: none;
}

#toggle_third_editor_effects.expanded .glyphicon-minus {
	display: block !important;
}
#toggle_third_editor_effects.expanded .glyphicon-plus {
	display: none;
}

.third_editor_effects button {
	display: block;
	position: relative;
	float: left;
	clear: none;
	width: 9%;
	height: 22%;
	/*background-color: red;*/
	margin: 0.5%;
	background-image: url( buttons/button_off.svg );
	left: auto;
	top: auto;
	bottom: auto;
	font-family: moldeofont;
}

.third_editor_effects button. {
	background-image: url( buttons/button_on.svg );
}

.effects_side {
	left: 28%;
	width: 100%;
	height: 18%;
	top:  5%;
	border: solid 1px #0FF;
}


.object_side {
	display: table;
	position: absolute;
	width: 85%;
	height: 97%;
	top: 3px;
	left: 13%;
	/*border: solid 2px #F0F;*/
}





	.object_side .object_selected {
		display: table-row;
		width: 100%;
		height: 34px;
		padding: 0px;
		margin: 0px;
	}

	.object_side .object_parameters {
		display: table-row;
		width: 100%;
		padding: 0px;
		margin: 0px;
	}
		.button_object_onoff {
			left: 0%;
			top: 7px;
			margin-top: 0%;
			height: 50%;
			width: 50px;
			background-image: url(buttons/button_Object_Disable.svg);
		}

			.button_object_onoff_on {
				background-image: url(buttons/button_Object_Enable.svg) !important;
			}

		.object_label {
			display: block;
			position: relative;
			float: left;
			border: solid 1px #00FFF4;
			border-radius: 8px;
			margin-top: 2px;
			margin-left: 2px;
			height: 37px;
			width: 52%;

			padding-left: 50px;
			padding-top: 0.3%;
			/*border: solid 1px #FFF;*/


			font-size: 19px;
			font-weight: normal !important;
			font-family: moldeofont;
			text-transform: uppercase;
			color: #94fbff;

		}

		.object_preconfigs {
			display: block;
			position: absolute;
			left: 54.7%;
			bottom: 0px;
			width: 130px;
			height: 35px;
			background-image: url(buttons/button_Editor_Preconfigs.svg);
			/*border: solid 1px #FFF;*/
		}
			.object_preconfigs_1 {
				background-image: url(buttons/button_Editor_Preconfigs_1.svg);
			}

			.object_preconfigs_2 {
				background-image: url(buttons/button_Editor_Preconfigs_2.svg);
			}

			.object_preconfigs_3 {
				background-image: url(buttons/button_Editor_Preconfigs_3.svg);
			}

			.object_preconfigs button {
				display: block;
				position: absolute;
				top: 8%;
				width: 18% !important;
				height: 60%;
			}

			.object_preconfigs #buttonED_1_ {
				left: 21%;
			}
			.object_preconfigs #buttonED_2_ {
				left: 40%;
			}
			.object_preconfigs #buttonED_3_ {
				left: 60%;
			}

      .object_preconfigs #buttonED_ALL {
				left: 80%;
			}

				.object_preconfigs  > button.circle_button {
					/*
					display: block;
					position: relative !important;
					float: left;
					clear: none;

					width: 6%;
					margin: 1%;
					height: 18%;
					*/

				}
/*
				.object_preconfigs #buttonED_1.circle_selected {
					background-image: url( buttons/button_1_on.svg );
				}
				.object_preconfigs #buttonED_2.circle_selected {
					background-image: url( buttons/button_2_on.svg );
				}
				.object_preconfigs #buttonED_3.circle_selected {
					background-image: url( buttons/button_3_on.svg );
				}
				.object_preconfigs #buttonED_ALL.circle_selected {
					background-image: url( buttons/button_ALL_on.svg );
				}
*/

				.object_preconfigs .select_preconfig {
					position: absolute;
					right: -50%;
				}

		.object_edition {
			display: block;
			position: relative;
			float: left;
			margin-top: 3px;
			margin-left: 7px;
			width: 6%;
			height: 30px;
			/*background-image: url(buttons/button_Editor_ObjectEdition.svg);*/
			border: solid 1px #FFF;
			border-radius: 4px;
			transition: all 1s;
		}

		.audio_edition {
			position: relative;
			margin-left: 0;
			z-index: 40000;
			background-color: #333;
			transition: all 1s;
		}


		.object_edition_collapsed {
			width: 2% !important;
		}


			.object_edition button {
				display: block;
				position: absolute;
				right: 5px;
				width: 10px;
				height: 10px;
			}

			.object_edition_image {
				display: block;
				position: absolute;
				/*border: solid 1px #F00;*/
				width: 65%;
				height: 100%;
			}

			.audio_edition_image {
				display: block;
				position: absolute;
				/*border: solid 1px #F00;*/
				width: 65%;
				height: 100%;
			}

			.video_edition_image {
				display: block;
				position: absolute;
				/*border: solid 1px #F00;*/
				width: 65%;
				height: 100%;
			}


			#object_edition .object_edit {
				display: none;
			}

			.object_edition .object_edit {
				background-image: url(buttons/button_Editor_ObjectEdition_EDIT.svg);
				top: 3px;
			}

			.object_edition .object_edit:hover {
				background-image: url(buttons/button_Editor_ObjectEdition_EDIT_on.svg);
				top: 3px;
			}

			.object_edition .object_import {
				background-image: url(buttons/button_Editor_ObjectEdition_IMPORT.svg);
				top: 15px;
			}

			.object_edition .object_import:hover {
				background-image: url(buttons/button_Editor_ObjectEdition_IMPORT_on.svg);
				top: 15px;
			}

			.object_edition .object_refresh {
				background-image: url(buttons/button_Editor_ObjectEdition_REFRESH.svg);
				top: 3px;
			}

			.object_edition .object_refresh:hover {
				background-image: url(buttons/button_Editor_ObjectEdition_REFRESH_on.svg);
				top: 3px;
			}

		.object_color {
			display: block;
			position: relative;
			float: left;
			margin-top: 3px;
			margin-left: 7px;
			/*width: 228px;*/
			width: 168px;
			height: 30px;
			border: solid 1px #FFF;
		}

		#COLOR_object_color {
			display: none;
		}

		#object_color_palette {
			display: block;
			position: absolute;
			top: 0px;
			right: 0px;
			/*width: 200px;*/
			width: 140px;
			height: 30px;
		}

		#object_color_sel {
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;

			width: 20px;
			height: 20px;

			border: solid 4px #999;
			background-color: #FFF;
		}

.parameters_side {
	display: block;
	position: relative;
	float: left;
	width: 33%;
	height: 100%;
	margin-left: 20%;

	font-size: 13px;
	font-family: moldeofont;
	font-weight: normal !important;
				/*cambio de fuente*/

	text-transform: uppercase;
	color: #999;
	overflow: hidden;
}




	.parameters_side .parameters_side_MOB {

		display: block;
		position: absolute;
		left: -100%;
		width: 60%;
		height: 100%;
		margin-left: 40%;

		/*border: solid 1px #F0F;*/
		transition: all 1s;

	}

		.parameters_side_MOB .parameters_side_MOB_actions {
			display: block;
			position: absolute;
			width: 24px;
			height: 90px;
			background-color: transparent;
			opacity: 1.0;
			margin-left: -34px;
		}
			.parameters_side_MOB_actions>button {
				isplay: block !important;
				position: relative !important;
				float: left !important;
				clear: both !important;
				background-color: transparent;
				font-family: moldeofont !important;
				font-weight: normal !important;
				margin-top: 2px !important;
				border-radius: 4px;
				color: #999;
				border: solid 1px #00FFF4;
				padding: 1px;
			}

		.parameters_side_MOB .parameters_side_MOB_scroller {
			display: block;
			position: absolute;
			top: 0%;
			width: 100%;
			height: 100%;
			padding-top: 1%;
			overflow: visible;

			background-image: url(buttons/parameter_side_background_line.png);
			background-repeat: repeat-y;
			background-position: 1.355% -1%;
			background-size: 1% 100%;

		}

		.scroll-pane
			{

			}

		.parameters_side_MOB_selected {
			left: 0% !important;
		}

		.parameters_side_MOB .parameters_side_MOB_preconf {
			display: block;
			position: absolute;
			left: -100%;
			width: 100%;
			height: 100%;
			/*border: solid 1px #F0F;*/
			transition: all 1s;
		}

		div.parameters_selected {
			display: block;
			left: 0% !important;
			transition: all 1s;
			/*background-color: #CCC;*/
		}


		.parameters_side .parameter_group {
			display: block;
			position: relative;
			width: 100%;
			height: 25px;
			background-image: url(buttons/parameter_group_background_off.svg);
			/*background-image: url(buttons/parameter_group_background_off.png);*/
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: 0px 0px;

			float: left;
			cursor: pointer;
			cursor: hand;

		}

		.parameter_group.group_selected {
			background-image: url(buttons/parameter_group_background_on.svg);
			background-position: 0px 0px;
		}

		.parameter_group>label {
			display: block;
			position: absolute;
			margin-left: 6%;
			margin-top: 2px;
			padding: 1% 0% 0% 2%;
			height: 80%;
			width: 80%;
			border: solid 1px #00FFF4;
			border: solid 1px #999;
			border-radius: 7px;
			background-color: #3e3e3e;
			cursor: pointer;
			cursor: hand;
			overflow: hidden;
		}
		.group_selected>label {
			border: solid 1px #00FFF4 !important;
			color: #00FFF4 !important;
		}

.parameter_inspector_side {
	display: table;
	position: relative;
	float: left;
	width: 47%;
	height: 100%;
}

	.parameter_inspector_HEADER {
		display: table-row;
		position: relative;
		width: 100%;
		height: 10px;
	}

	.parameter_inspector_BODY {
		display: table-row;
		position: relative;
		width: 100%;
	}

	.parameter_inspector_CONTAINER {
		display: block;
		position: relative;
		float: left;
		width: 100%;
		height: 100%;
		border: solid 1px #999;
		border-radius: 7px;
	}

	.parameter_inspector {
		display: none;
	}

	.parameter_is_ {
		display: none !important;
	}

	.show_all .parameter_is_ {
		display: block !important;
		opacity: 0.5;
	}

	.show_all .action_param_SHOW_ALL {
		color: #00FFF4 !important;
	}

	.show_all .parameter_group input[type="checkbox"] {
		display: block !important;
	}

	.parameter_group input[type="checkbox"] {
		display: none;
		position: absolute;
		right: 18%;
		top: 13%;
		background-color: #333;
		border: solid 1px #00FFF4;
		color: #00FFF4;
		-webkit-appearance: none;
		width: 10px;
		height: 10px;
	}

	.parameter_group input[type="checkbox"]:checked {
		background-color: #00FFF4;
	}

	.inspector_show {
		display: block !important;
	}

	.parameter_inspector>label {
		color: #FFF;
		font-size: 10px;
		font-family: moldeofont;
		font-weight: normal !important;
		display: block;
		position: absolute;
		top: -13px;
		right: 2px;
	}

	.parameter_inspector button {
		display: block;
		position: relative;
		float: left;
		margin-top: 0.1%;
		margin-left: 0.1%;
		width: 12%;
		height: 40%;
	}

	.parameter_inspector .slide_H_back {
		width: 90% !important;
		margin-left: 5%;
		bottom: 2% !important;
	}

	.parameter_inspector .parameter_slide {
		display: block;
		position: relative;
		float: left;
		clear: left;
		/*
		margin-top: 2%;
		margin-left: 5%;
		width: 85%;
		*/
		margin-top: 0%;
		margin-left: 0%;
		width: 100%;
		height: 40%;
	}

	/* POSITION INSPECTOR */

	 .param_input {
		display: none;
		position: absolute;
		float: left;
		width: 10%;
		height: 17px;
		font-size: 12px;
		border: solid 1px #999;
		background-color: #000;
		color: #FFF;
		bottom: 20px;
		left: 80px;
		transition: all 0.5s;
		border-radius: 5px;
	 }

	 select.param_input {
		 width: auto !important;
		 left: 140px;
	 }

	 .param_input_selected {
		display: block !important;


	 }

	 .param_input_selected_2 {
		display: block !important;
		margin-left: 120px !important;

	 }

	 #parameter_inspector_COLOR .param_input {
		display: block;
		width: 35px;
	 }

	 #parameter_inspector_SCALE .param_input {
		  width: 60px;
		}

	#parameter_inspector_COLOR .param_input:focus {
		width: 700px !important;
	}


	 #parameter_inspector_COLOR
	 .parameter_selector {
		 color: #FFF;
		 position: absolute;
		 float: left;
		 bottom: 40px !important;
	 }



	.param_input_color_red,
	.param_input_color,
	.param_input_0,
	.param_input_COLOR,
	.parameter_selector_0	{
		left: 50px;
	}
	.param_input_color_green,
	.param_input_color_1,
	.param_input_1,
	.param_input_COLOR_1,
	.parameter_selector_1	{
		left: 120px;
	}
	.param_input_color_blue,
	.param_input_color_2,
	.param_input_2,
	.param_input_COLOR_2,
	.parameter_selector_2	{
		left: 190px;
	}
	.param_input_color_alpha,
	.param_input_color_3,
	.param_input_3,
	.param_input_COLOR_3,
	.parameter_selector_3	{
		left: 260px;
	}

	.param_input:focus {
		width: 700px !important;
		background-color: #111;
		color: #94fbff;
		height: 25px;
		font-size: 20px;
		z-index: 40000;
		right: 20px !important;
		left: auto !important;
	 }

	 select.param_input:focus {
		width: auto !important;
		background-color: #111;
		color: #94fbff;
		height: auto !important;
		font-size: 12px !important;
		z-index: 40000;
		left: 140px !important;
	 }


	#selector_POSITION_translatex {
		background-image: url(buttons/button_X_off.svg);
	}
	#selector_POSITION_translatex:active,
	#selector_POSITION_translatex.selected {
		background-image: url(buttons/button_X_on.svg);
	}

	#selector_POSITION_translatey {
		background-image: url(buttons/button_Y_off.svg );
	}
	#selector_POSITION_translatey:active,
	#selector_POSITION_translatey.selected {
		background-image: url(buttons/button_Y_on.svg );
	}

	#selector_POSITION_translatez {
		background-image: url(buttons/button_Z_off.svg );
	}
	#selector_POSITION_translatez:active,
	#selector_POSITION_translatez.selected {
		background-image: url(buttons/button_Z_on.svg );
	}

	.parameter_selector_xy,
	.parameter_selector_zy	{
		display: block;
		position: relative;
		float: left;
		margin-left: 3px;
		margin-top: 3px;
		width: 100px;
		height: 30px;
	}

	.parameter_selector_xy label,
	.parameter_selector_zy label	{
		display: block;
		position: relative;
		float: left;
		clear: both;
		font-size: 9px;
		font-family: moldeofont;
		font-weight: normal !important;
		color: #FFF;
	}

	#selector_POSITION_translatexy,
	#selector_POSITION_translatezy	{
		display: block;
		position: relative;
		float: left;
		width: 100px;
		height: 30px;
		border: solid 1px #AAA;
		cursor: crosshair;
		/*cursor: move;*/
	}


	/* SCALE INSPECTOR */

	#selector_SCALE_scaley,
	#selector_SCALEPARTICLE_scaley_particle	{
		background-image: url(buttons/button_Vertical_off.svg );
	}
	#selector_SCALE_scaley:active,
	#selector_SCALE_scaley.selected,
	#selector_SCALEPARTICLE_scaley_particle:active,
	#selector_SCALEPARTICLE_scaley_particle.selected	{
		background-image: url(buttons/button_Vertical_on.svg );
	}

	#selector_SCALE_scalex,
	#selector_SCALEPARTICLE_scalex_particle	{
		background-image: url(buttons/button_Horizontal_off.svg );
	}
	#selector_SCALE_scalex:active,
	#selector_SCALE_scalex.selected,
	#selector_SCALEPARTICLE_scalex_particle:active,
	#selector_SCALEPARTICLE_scalex_particle.selected	{
		background-image: url(buttons/button_Horizontal_on.svg );
	}

	#selector_SCALE_zoom,
	#selector_SCALEPARTICLE_zoom	{
		background-image: url(buttons/button_Zoom_off.svg );
	}
	#selector_SCALE_zoom:active,
	#selector_SCALE_zoom.selected,
	#selector_SCALEPARTICLE_zoom:active,
	#selector_SCALEPARTICLE_zoom.selected 	{
		background-image: url(buttons/button_Zoom_on.svg );
	}


	/* MOTION INSPECTOR */

	#selector_MOTION_Vertical {
		background-image: url(buttons/button_Vertical_off.svg );
	}
	#selector_MOTION_Vertical:active,
	#selector_MOTION_Vertical.selected {
		background-image: url(buttons/button_Vertical_on.svg );
	}

	#selector_MOTION_Horizontal {
		background-image: url(buttons/button_Horizontal_off.svg );
	}
	#selector_MOTION_Horizontal:active,
	#selector_MOTION_Horizontal.selected {
		background-image: url(buttons/button_Horizontal_on.svg );
	}

	#selector_MOTION_Circular {
		background-image: url(buttons/button_Circular_off.svg );
	}
	#selector_MOTION_Circular:active,
	#selector_MOTION_Circular.selected {
		background-image: url(buttons/button_Circular_on.svg );
	}

	/* EMITTER INSPECTOR */
	#parameter_inspector_EMITTER .parameter_selector {
		background-color: #777;
		width: auto;
		min-width: 50px;
		height: auto;
		color: #FFF;
		font-size: 11px;
		margin-left: 2px;
	}



	/* ATTRACTOR INSPECTOR */
	#parameter_inspector_ATTRACTOR .parameter_selector {
		background-color: #777;
		width: auto;
		min-width: 50px;
		height: auto;
		color: #FFF;
		font-size: 11px;
		margin-left: 2px;
	}

	/* BEHAVIOUR INSPECTOR */
	#parameter_inspector_BEHAVIOUR .parameter_selector {
		background-color: #777;
		width: auto;
		min-width: 50px;
		height: auto;
		color: #FFF;
		font-size: 11px;
		margin-left: 10px;
	}


.button_previous_effect ,
.button_next_effect {
	width: 8%;
	height: 40%;
	top: 30%;
	/*border: solid 1px #00F;*/

	display: block;
	position: relative;

	clear: none;
	cursor: pointer;
}

.button_previous_effect {
	float: left;
}

.button_next_effect {
	float: right;
}


.button_previous_effect  {
	background-image: url( buttons/button_previous_effect.svg );
}

.button_next_effect  {
	background-image: url( buttons/button_next_effect.svg );

}


/**CONNECTORS*/


.connector_panel {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba( 255,255,255,0.95);
	border: solid 1px #000;
	z-index: 35000;
}

	.connector_panel button {
		display: block;
		position: fixed;
		border-radius: 10px;
		width: 20px;
		height: 20px;
		margin: 5px;
		border: solid 1px #000;
		right: 0px;
	}

	.node {
	  cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}

	.node text {
	  font: 10px sans-serif;
	}

	.link {
	  fill: none;
	  stroke-width: 1.5px;
	}

	.link-0 {
		/*visibility: hidden;*/
	}


	.node-0,
	.nodehide {
		visibility: hidden;
	}

	.node-1 text {
		/*font-size: 25px !important;*/

	}

	text {
		font-family: moldeofont;
		text-rendering: geometricPrecision;
		font-weight: normal !important;
		stroke: #FFF;
		stroke-width: 0.06%;
	}


	.node-21_seccion text {
		fill: #F00 !important;
	}

	.node-21_seccion:hover text {
		fill: #000 !important;
	}

	.node-21_seccion text {
		/*font-size: 300% !important;*/
	}

	.node:hover text {
		transition: all 1s;
		fill: #F00;
	}


	.node-0 {
		z-index: 10000;
	}


	.node-1 {
		z-index: 9000;
	}

	.node-2 {
		z-index: 8000;
	}

	.node-3 {
		z-index: 7000;
	}

	.node-4 {
		z-index: 6000;
	}



#logarea {
	display: block;
	width: 100%;
	height: 100%;
	color: #0F0;
	background-color: #000;
}

body {
	font-size: 12px;
	line-height: 1.2;
}

.h4, h4 {
	font-size: 14px;
}

.modal-moldeocontrol .modal-dialog {
	margin: 15px auto !important;
}

.modal-moldeocontrol .modal-header {
	padding: 2px 6px !important;
}

.modal-moldeocontrol .modal-body {
	padding: 2px 6px !important;
}

.modal-moldeocontrol .modal-footer {
	padding: 2px 6px !important;
}

.modal-moldeocontrol .modal-footer button {
	padding: 2px 6px !important;
}
