#webview_contenidos {
  display: block;
  position: absolute;
  width: 70%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /*border: solid 1px;*/
  background-color: rgba(255,255,255,0.2);
}

.running {

  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  border: solid 1px #FFF;
  padding: 10px;
  font-size: 11px;
  font-family: Arial;
  color: #BBB;
  margin: 5px;
  opacity: 0.15;


}



.contenido_over {
  color: #FFFFFF;
  font-family: 'Tahoma';
  font-size: 20px;
  transition: all 1s;
  opacity: 1.0;
}

.contenido_over_hide {
  color: #FFFFFF;
  font-family: 'Tahoma';
  font-size: 20px;
  transition: all 1s;
  opacity: 0.0;
  display: none !important;
}

.titulo {
  display: block;
  position: absolute;
  top: 0px;
  width: 100%;
  border-top: solid 1px #555;
  border-left: solid 1px #555;
  border-right: solid 1px #555;
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
  box-shadow: "" ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.descripcion {
  display: block;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0px;
  padding: 15px;
  border-bottom: solid 1px #555;
  border-left: solid 1px #555;
  border-right: solid 1px #555;
  background-color: rgba(0,0,0,0.3);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.descripcion p {
  margin: 0px !important;
  padding: 0px !important;
}
