<div #moCanvas id="moCanvas"   [class.hideme]="moEditDisplay==false" [class.showme]="moEditDisplay==true" (mouseenter)="moWheelDisplay=false;"></div>

<div #moWheel id="moWheel" [hidden]="!moWheelDisplay">
  <div class="circle moWheelAni"></div>
  <div class="objectSelect selectAni">
    <div *ngFor="let type of PluginsDefinitionsMapTypes">
      <h3>{{moMoldeoObjectTypeToText[type]}}</h3>
      <li *ngFor="let mob of PluginsDefinitionsMapTypeArray[type]" name="mob" class="mob.m_Name" (click)="createMOObject(mob)">
        {{mob.m_Name}}:{{mob.m_MoldeoObjectType}}
      </li>
    </div>
  </div>
</div>

<!--
<div id="moControl" #moControl (mouseenter)="moWheelDisplay=false;"  [class.hideme]="moControlDisplay==false" [class.showme]="moControlDisplay==true">
  <h1>CONTROL</h1>
</div>
-->
<mo-control
  id="moControl"
  #moControl
  [class.hideme]="moControlDisplay==false" [class.showme]="moControlDisplay==true"
  >
</mo-control>

<div id="moConfig" #moConfig (mouseenter)="moWheelDisplay=false;" [class.hideme]="moEditDisplay==false" [class.showme]="moEditDisplay==true">
</div>



<header class="moHeader" (mouseenter)="moToolDisplay=false;">
  <div class="moldeoicon"></div>
  <div class="moldeofile">{{moFileName}}</div>
  <button class="moldeobutton" (click)="showmoEditView();" type="button" name="moButton" title="Moldeojs Edit View">Edit</button>
  <button class="moldeobutton" (click)="showmoControlView();" type="button" name="moButton" title="Moldeojs Control View">Control</button>
  <button class="moldeobutton" type="button" name="auto" title="Auto Layout" (click)="autoLayout()">auto</button>
</header>
