
.logo {
  max-height: 32px;
}

.chat_online {

  display: block;
  position: fixed;
  top: 50px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
  border: solid 1px #FFF;
  padding: 10px;
  font-size: 13px;
  font-family: Arial;
  color: #FFF;
  margin: 5px;


}

.chat_online input {
  color: #000 !important;
}


#menu {
  margin-bottom: 0px !important;
}
