<nav class="navbar navbar-default" style="display: none; border:0px;left:0px;top:0px;background-color: black;">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'collapsed': isCollapsed}"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">
              <img src="/assets/data/icons/moldeo_logo.svg" class="logo" title="Moldeo@JS">
            </a>
            <span class="navbar-brand"></span>
        </div>
        <div class="collapse navbar-collapse"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed"
            >
          <ul class="nav navbar-nav">
              <li class="active"><a href="https://www.moldeo.org" target="_blank">
                www.moldeo.org
              </a></li>
              <li><a routerLink="/moldeojs" routerLinkActive="active">base</a></li>
              <li><a href="https://www.moldeo.org/forum/how-to" target="_blank">Moldeo JS API</a></li>
              <li class="dropdown" dropdown>
                  <a dropdownToggle role="button">
                    Samples <span class="caret"></span></a>
                  <ul *dropdownMenu class="dropdown-menu">
                      <li><a href="#" (click)="loadsample($event,0)">Ejemplo 1</a></li>
                      <li><a href="#" (click)="loadsample($event,1)">Ejemplo 2</a></li>
                      <li><a href="#" (click)="loadsample($event,2)">Ejemplo 3</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,3)">Ejemplos 4</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,4)">Ejemplos 5</a></li>
                  </ul>
              </li>
          </ul>
        </div>
    </div>
</nav>
<!--
<button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Button with tooltip
</button>

<button type="button" class="btn btn-info"
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right"
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
-->
<!--<app-threeviewer></app-threeviewer>-->
<!--<moldeocontrol></moldeocontrol>-->
<!--<ng-template #dynamic></ng-template>-->
<moldeojs-interface
  id="moldeojsinterface"
  #moldeojsinterface
  [mol]="this.sample"
  [moldeojsview]="this.moldeojsview"></moldeojs-interface>
<!--iframe src="" width="100%" height="100%">
  no final
</iframe-->
<div class="chat_online" style="display: none;">
  <div #oscmsgbox class="osc_msg_snd">

  </div>
  <div class="chat_msg_rec" #message2recv>
    <div class="message">{{msg}}</div>
  </div>
  <div #chatmsgbox class="chat_msg_snd">
    <label>{{m_ConnectedId}}</label>
    <table >
      <tr>
        <td><input title="Cambiar mi color" value="#00ffe4" #clientcolor (change)="clientColor($event)" type="color" class="input_color"></td>
        <td><input #message2send type="text" class="input_text" placeholder="{{placeholder}}"
    (keyup)="keyup($event)"
    value=""/></td>
        <td style="width: 20px"><button class="btn btn-primary btn-send"
    (click)="compose_message($event)"><span class="fa-send">ENVIAR</span></button></td>
      </tr>
    </table>
  </div>


</div>
<div class="canvas_text"  style="display: none;">
  <canvas id="full_chat_canvas" width="1024" height="1024">
  </canvas>
</div>

<moldeojs-view
  id="moldeojsview"
  #moldeojsview
  [mol]="this.sample"
  (window:resize)="onResize($event)"
  (loaded)="this.sampleLoaded($event)"></moldeojs-view>
<!--router-outlet></router-outlet-->
<!--touch-component></touch-component-->
<!--router-outlet></router-outlet-->
