<!--<nav id="menu" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'collapsed': isCollapsed}"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">
              <img src="assets/data/icons/M@_moldeo.svg" class="logo">
            </a>
            <span class="navbar-brand">Speak Online (#{{clients}})
              <input #clientcolor (change)="clientColor($event)" type="color">
              <span class="last_received_message">{{recv_message}}</span>
            </span>
        </div>
      -->
      <!--
        <div class="collapse navbar-collapse"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed"
            >
          <ul class="nav navbar-nav">
            <li class="active"><a href="http://www.moldeo.org" target="_blank">
              www.moldeo.org
            </a></li>

            <!--<li class="active">fullscreen</li>-->
            <!--
              <li class="active"><a href="http://www.moldeo.org" target="_blank">
                www.moldeo.org
              </a></li>
              <li><a href="http://www.moldeo.org/forum/how-to" target="_blank">Moldeo JS API</a></li>
              <li class="dropdown" dropdown>
                  <a dropdownToggle role="button">
                    Samples <span class="caret"></span></a>
                  <ul *dropdownMenu class="dropdown-menu">
                      <li><a href="#" (click)="loadsample($event,0)">Ejemplo 1</a></li>
                      <li><a href="#" (click)="loadsample($event,1)">Ejemplo 2</a></li>
                      <li><a href="#" (click)="loadsample($event,2)">Ejemplo 3</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,3)">Ejemplos 4</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,4)">Ejemplos 5</a></li>
                  </ul>
              </li>

          </ul>
        </div>

    </div>
</nav>-->
<!--
<div>
    <input type="text" #msgInput name="" value="">
    <button (click)="sendMsg(msgInput.value)">Send</button>
    <br>
    <p>msg:{{msg}}  </p>
</div>
-->
<div class="chat_online">

  <div class="chat_msg_snd">
    <label>{{m_ConnectedId}}</label>
    <input #clientcolor (change)="clientColor($event)" type="color" class="input_color">
    <input #message2send type="text" class="input_text" placeholder="Escribe aquí..."
    (keyup)="keyup($event)"
    value=""/>
    <button class="btn btn-primary"
    (click)="compose_message($event)">
      <span class="glyphicon glyphicon-play">&nbsp;</span>
    </button>
  </div>

  <div class="chat_msg_rec" #message2recv>
    <div class="message">{{msg}}</div>
  </div>
</div>
<div class="canvas_text">
  <canvas id="full_chat_canvas" width="1024" height="1024">
  </canvas>
  <script>
    window.onload = function() {
      var context = new AudioContext();
    }
  </script>
  <audio controls loop autoplay volume="50">
    <source src="./assets/molrepos/moldeoorg/Speak/audios/BOCA.mp3" type="audio/mp3">
  </audio>
  <audio controls loop autoplay volume="50">
    <source src="./assets/molrepos/moldeoorg/Speak/audios/LATIDOS.mp3" type="audio/mp3">
  </audio>
  <audio controls loop autoplay volume="50">
    <source src="./assets/molrepos/moldeoorg/Speak/audios/BRAZO-DERECHO.mp3" type="audio/mp3">
  </audio>
  <audio controls loop autoplay volume="50">
    <source src="./assets/molrepos/moldeoorg/Speak/audios/BRAZO-IZQUIERDO.mp3" type="audio/mp3">
  </audio>
</div>
<!--
<button type="button" class="btn btn-primary"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
Button with tooltip
</button>

<button type="button" class="btn btn-info"
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right"
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>
-->
<!--<app-threeviewer></app-threeviewer>-->
<!--<moldeocontrol></moldeocontrol>-->
<!--<ng-template #dynamic></ng-template>-->
<moldeojs-view #moldeojsview [mol]="this.sample" (window:resize)="onResize($event)"></moldeojs-view>
<!--router-outlet></router-outlet-->
<!--touch-component></touch-component-->
