.s{
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  position: fixed;
  font-size:32px;
}

#stage0 {
  background: #20bb5f;
  border: 5px solid #009b2f;
  left: 40px;
  top: 30px;
}
#stage1 {
  background: #bb202f;
  border: 5px solid #9b001d;
  left: 280px;
  top: 30px;
}
#stage2 {
  background: #20aebb;
  border: 5px solid #00759b;
  left: 40px;
  top: 280px;
}
#stage3 {
  background: #bb9c20;
  border: 5px solid #9b6600;
  left: 280px;
  top: 280px;
}
