/* You can add global styles to this file, and also import other style files */

body, html {
  overflow: hidden;
  margin:0;
  padding:0;
}

.message {
  text-align: right;
  float: right;
  display: block;
  clear: both;
  width: auto;
  font-weight: bold;
}

.my_message {
  text-align: right;
  float: right;
  display: block;
  clear: both;
  width: auto;
  font-weight: bold;
}

.their_message {
  text-align: left;
  float: left;
  display: block;
  clear: both;
  width: auto;
}


.my_message:before {
  content: "mi:";
  font-weight: bold;
  font-size: 8px;
}
